.table-custom {
    width: 100%;
    max-width: 90%;
    margin-left: auto; 
    margin-right: auto;
    overflow-x: auto; 
    box-sizing: border-box;
}

.search {
    margin: 1%;
}

.drop-down {
    height: 5px;
}

.currency {
    width: auto;
}

@media (max-width: 768px) {
    .table-custom td,
    .table-custom th {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .currency {
        width: 10px;
    }
    .width {
        width: 500px !important;
    }
  }
  

.bottom {
    display: flex;
    justify-content: flex-end;
}

/* 배경의 box-sizing을 통일 */
.bg-color {
    width: 100%;
    box-sizing: border-box;
}
